{% load static %}
{% block body%}
{% include 'navigation.html'%}

<div class="container" style="background-color:black; height:550px; margin-top:2%  ">
    <h1 class="text-center text-white">----------| Welcome |----------</h1>
    <br><br><br>
    <h1 class="text-center text-white">Hello Sir/Ma'am </h1>
    <h1 class="text-center text-white">My Name is Shubham Bhargava.</h1>
    <h1 class="text-center text-white">MCA 2022 Passout</h1>
    <h1 class="text-center text-white">This is my Assessment</h1>
    <h1 class="text-center text-white">Please have a look. </h1>
    <br><br><br>
    <h1 class="text-center text-white">----------| Thank You |----------</h1>

</div>

{% include 'footer.html'%}
{% endblock body%}