{% load static %}

{% block body%}

{% include 'navigation.html'%}
<marquee style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcolor; background-color:lightblue; font-weight:bold; margin-top:1%">
    User Login
</marquee>

<hr>
<form class="container mt-5" method="POST">
    {% csrf_token %}
    <label><b>Email ID</b></label>
    <input type="email" class="form-control" name="uname" placeholder="Enter Email ID">

     <label><b>Password</b></label>
    <input type="password" class="form-control" pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*[@#$%^&+*!=])(?=.*\d).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="pwd" placeholder="Enter Password">

    <input type="submit" value="login" class="btn btn-dark " style="margin-top:2%; color:darkcolor; ">
    <a href="{% url 'registration' %}" class="btn btn-secondary" style="margin-left:2%; margin-top:2%; color:darkcolor;">Don't Have a Account?? Create one..</a>

</form>

<hr>

{% include 'footer.html'%}
{% ifequal error "no" %}
<script>
    alert("login Successful");
    window.location = ('{% url 'welcome' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Invalid Login Credentials, Try Again...");
</script>
{% endifequal %}

{% endblock body%}