{% load static %}
{% block body%}
{% include 'navigation.html'%}

<script>
    function checkpass()
    {
    if(document.signup.pwd.value!=document.signup.cpwd.value)
    {
    alert('Password and Confirm Password field does not match');
    document.signup.cpwd.focus();
    return false;
    }
    return true;
    }



</script>

<marquee style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcolor; background-color:lightblue; font-weight:bold; margin-top:1%">
    User SignUp
</marquee>

<hr>
<form class="container mt-5" onsubmit="return checkpass();" name="signup" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<!--  1st Row  -->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label><b> First Name </b></label>
            <input type="text" class="form-control" name="fname" placeholder="Enter First Name" required>
        </div>

        <div class="form-group col-md-6">
            <label><b> Last Name </b></label>
            <input type="text" class="form-control" name="lname" placeholder="Enter Last Name" required>
        </div>
    </div>

    <!--  2nd Row  -->
    <div class="form-row">
        <div class="form-group col-md-12">
        <label><b> Contact Number </b></label>
            <input type="number" class="form-control" name="contact" placeholder="Enter Contact Number" required>
        </div>
    </div>

<!--  3rd Row  -->
    <div class="form-row">
        <div class="form-group col-md-12">
        <label><b> Email ID </b></label>
            <input type="email" class="form-control" name="email" placeholder="Enter Email ID" required>
        </div>
    </div>

    <!--  4th Row  -->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label><b> Password </b></label>
            <input type="password" class="form-control" pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*[@#$%^&+*!=])(?=.*\d).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  name="pwd" placeholder="Enter Password" required>
        </div>

        <div class="form-group col-md-6">
            <label><b> Confirm Password </b></label>
            <input type="password" class="form-control" pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*[@#$%^&+*!=])(?=.*\d).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="cpwd" placeholder="Enter Password Again" required>
        </div>
    </div>

    <!--  5th Row  -->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label><b> Gender </b></label>
            <div style="border:1px solid lightgrey; padding:6px; border-radius:6px">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" class="custom-control-input" name="gender" value="Male">
                    <label class="custom-control-label" for="customRadioInline1">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" class="custom-control-input" name="gender" value="Female">
                    <label class="custom-control-label" for="customRadioInline2">Female</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline3" class="custom-control-input" name="gender" value="Others">
                    <label class="custom-control-label" for="customRadioInline3">Others</label>
                </div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label><b> Image </b></label>
            <input type="file" class="form-control" name="image" required>
        </div>
    </div>
<input type="submit" value="Submit" class="btn btn-secondary my-3" style="width:200px">
</form>

{% include 'footer.html'%}





{% ifequal error "no" %}
<script>
    alert("Signup Successful");
    window.location = ('{% url 'login' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Something went wrong, Try Again...");
</script>
{% endifequal %}

{% endblock body%}
